@{
  Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Welcome to the Business of Business Relations!</h1>
</div>
<button class="btn btn-secondary">
  @*@Html.ActionLink("See The Animals", "Index", "Animals")*@
</button>